<a href="https://colab.research.google.com/github/aryadh5/datascience-talenthubkemnaker/blob/main/Arya_Difa_Hendrawan_EDA_HandsOn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('EDA_Data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [5]:
# You code here
df=pd.DataFrame(data)
maleCount=df['sex'].value_counts()['Male']
femaleCount=df['sex'].value_counts()['Female']
print(f"There are {maleCount} males and {femaleCount} females in this dataset.")

There are 21790 males and 10771 females in this dataset.

**2. What is the average age (*age* feature) of women?**

In [6]:
# You code here
import matplotlib.pyplot as plt
import seaborn as sns

# def viz_barplot(data, target_column, feature_column, x_axis_rotation = 0):
#     """
#     Data = dataframe
#     Target_column = Churn (kolom tujuan)
#     Feature_column = kolom lain yang ingin dilihat hubungannya dengan Churn
#     """

#     fig = plt.figure(figsize = (7,5))
#     ax = sns.countplot(data = data, x= feature_column, hue = target_column)

#     ax.set_ylabel('Quantity')
#     ax.set_xlabel(feature_column)
#     plt.xticks(rotation = x_axis_rotation)
#     plt.title(f'{feature_column} and {target_column}: Count & Proportion')
#     plt.show()
# viz_barplot(data = df, target_column = 'age', feature_column = 'sex')

averageSex= df.groupby('sex', as_index=False)['age'].mean()
femaleAgeAvg=averageSex.iloc[0]['age']
print(f"The average female age in the dataset is {femaleAgeAvg}")

The average female age in the dataset is 36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [7]:
# You code here
# averageGermans=df['native-country'].value_counts(normalize=True)['Germany']
nativeCountryPercentage=df['native-country'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
averageGermans=nativeCountryPercentage['Germany']
# print(f"The Germans occupy {averageGermans}  in this dataset.")

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [35]:
# You code here
meanSalary= df.groupby('salary', as_index=False)['age'].mean().rename(columns={'age':'mean'})
# meanSalary
stdSalary=df.groupby('salary', as_index=False)['age'].std().rename(columns={'age':'std'})
# stdSalary

different_cols = meanSalary.columns.difference(stdSalary.columns)
different_cols
# horizontal_concat = pd.concat([meanSalary, stdSalary], axis=1)
# print(horizontal_concat)

Index(['mean'], dtype='object')

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [9]:
# You code here

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [10]:
# You code here

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [11]:
# You code here

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [12]:
# You code here

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [13]:
# You code here